body{
  font-family: 'Lato', sans-serif;
}

.bg_vino{
  background-image: url('../img/principal1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.bg_pan{
  background-image: url('../img/principal2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  order: 1;
}

.bg-primary, .horario{
  background-color: #f46669 !important;
}

.btn-primary{
  background-color: #f46669 !important;
  border-color: #f46669 !important;
}

.bg-secondary{
  background-color: #c7c57d !important;
}

.contenido{
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}

.imagen_superior > div, .imagen_inferior > div{
  height: 400px;
}

.clases{
  background-color: #e5e7ea;
}

.color{
  color: #f46669;
}

.bg_licenciatura{
  background-image: url('../img/chef_bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
}

.bg_licenciatura h2{
  font-weight: 900;
}

@media (min-width: 768px) {
  .bg_pan{
    order: unset;
  }
}
